<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayPals</title>
    <link rel="stylesheet" type="text/css" href="/public/css/mp_styles.css">
    <script type="text/javascript" src="public/js/mainpage.js"></script>
</head>
<body>
    <div id="logo_div">
        <img id="logo" src="public/images/logo.png"/>
    </div>
    <div id="page_div">
        <div id="form_box">
            <!-- <form id="username_form" action="/rooms" method="POST"> -->
            <form id="username_form" onsubmit="return formSubmit(event);" action="/main" method="POST">
                <div id="text_div">
                    <h1 id="text_title">Welcome to PlayPals!</h1> 
                    <h3 id="welcome_text">Enter a nickname below and join the fun!</h3> 
                    <p id="error_text">Username must be at least 3 characters long.</p> 
                </div>
                <div id="input_div">
                    <input id="name_input" name="nickname" class="input" type="text" placeholder="Username" onkeydown="return isValid(event);" value=<%= locals.nickname %> >
                </div>
                <div id="button_div">
                    <button class="button glow-on-hover" type="submit">Enter</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>