<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayPals</title>
    <link rel="stylesheet" type="text/css" href="/public/css/joincreate.css">
    <!-- <script type="text/javascript" src="public/js/joincreate.js"></script> -->
</head>
<body>
    <div id="logo_div">
        <img id="logo" src="public/images/logo.png"/>
    </div>
    <div id="page_div">
        <div id="form_box">
            <!-- <form id="username_form" action="/rooms" method="POST"> -->
            <div id="username_form">
                <div id="text_div">
                    <h1 id="text_title">Welcome to PlayPals!</h1> 
                    <div id="nickname_div">
                        <h3 id="nick">Nickname: </h3> 
                        <h3 id="nickname"><%= locals.nickname %></h3>
                    </div>
                </div>
                <div id="create_div">
                    <form action="/create" method="POST">
                        <input class="hidden" name="nickname" value=<%= locals.nickname %> >
                        <button id="create" class="button glow-on-hover" type="submit">Create Room</button>
                    </form>
                </div>
                <div id="join_div">
                    <form action="/join" method="POST">
                        <input class="hidden" name="nickname" value=<%= locals.nickname %> >
                        <button id="join" class="button glow-on-hover" type="submit">Join Room</button>
                    </form>
                </div>
                <div id="back_div">
                    <form action="/" method="POST">
                        <input class="hidden" name="nickname" value=<%= locals.nickname %> >
                        <button id="back" class="button glow-on-hover" type="submit">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>